<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Shootout</title>

        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="description" content="This will be a description">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
        <link rel = "stylesheet" type = "text/css" href ="../../assets/icons/rpg-awesome.min.css"/>


        <link rel = "stylesheet" type = "text/css" href ="../../stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="../../assets/icon.png">

        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Podkova:700" rel="stylesheet">

    </HEAD>

    <BODY id = "gamepage">
            <div id = "game">
                
                <div id = "ready-modal">
                    <p>Welcome, contestant! Are you ready?</p>
                    <button id = "ready-up">Ready</button>

                </div>


                <div id = "screen-wrapper">

                    <div id = "canvas-wrapper">
                        <canvas id = "canvas" width = "400" height="300"></canvas>
                    </div>

                    <div id = "info-panel-wrapper">

                        <div id = "powerup-timer">
                            <span id = "invisibility-time-left"></span>
                            <span id = "stun-time-left"></span>
                        </div>

                        <div class = "panel" id = "resources">
                            <!-- <div class = "panel-title">Resources</div> -->

                            <div class = "panel-container">
                                <span class = "one-resource" id = "health-resource">
                                    <i class="fas fa-plus"></i> <span class="resource-count" id = "health-count">0</span>
                                </span>
                                <span class = "one-resource" id = "money-resource">
                                    <i class="fas fa-dollar-sign"></i><span class="resource-count" id = "money-count">0</span>
                                </span>
                                <span class = "one-resource">
                                    <i class="ra ra-bullets"></i> <span class="resource-count" id = "bullet-count">0</span>
                                </span>
                                
                                <!-- BUY -->
                                <div id = "shop-panel">
                                    <span class = "one-resource">
                                        <button class = "use-button" id = "buy-bullets">
                                            <div class = "powerup-info">
                                                <span class = "powerup-key">E</span>
                                                <i class="ra ra-bullets"></i>  <span class="resource-count" id = "bullet-count">50</span>
                                            </div>
                                            <div class = "powerup-cost">$75</div>
                                        </button>
                                    </span>

                                    <span class = "one-resource">
                                        <button class = "use-button" id = "buy-stuns">
                                            <div class = "powerup-info">
                                                <span class = "powerup-key">R</span>
                                                <i class="ra ra-fizzing-flask"></i>  <span class="resource-count" id = "stun-count">1</span>
                                            </div>
                                            <div class = "powerup-cost">$100</div>
                                        </button>
                                    </span>
                                    <span class = "one-resource">
                                        <button class = "use-button" id = "buy-invisibility">
                                            <div class = "powerup-info">
                                                <span class = "powerup-key">F</span>
                                                <i class="far fa-eye-slash"></i> <span class="resource-count" id = "invisibility-count">1</span>
                                            </div>
                                            <div class = "powerup-cost">$200</div>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>


<!-- 
                    <div class = "right-screen-column">
                        <div class = "panel" id = "shop">
                        <div class = "panel-title">Buy</div>

                        <div class = "panel-container">
                            <div class = "one-item">
                                
                                <button class = "buy-button" id = "buy-bullets">
                                    <span class = "powerup-key">E</span>
                                    <i class="fas fa-fire"></i> 50
                                </button>
                                <span class = "item-price">$75</span>
                            </div>

                            <div class = "one-item">
                                
                                <button class = "buy-button" id = "buy-stuns">
                                    <span class = "powerup-key">R</span>
                                    <i class="fas fa-vial"></i> 1
                                </button>
                                <span class = "item-price">$100</span>
                            </div>

                            <div class = "one-item">

                                <button class = "buy-button" id = "buy-invisibility">
                                    <span class = "powerup-key">F</span>
                                    <i class="far fa-eye-slash"></i> 1
                                </button>
                                <span class = "item-price">$200</span>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>



                 -->
                
                <div id = "play-again-wrapper">
                    <div id="winning-player-wrapper">
                        <span id="winning-player"></span> has won
                    </div>
                    <a href = "/"  id = "play-again"><button>PLAY AGAIN</button></a>
                </div>


                



                

                
                

               <!--  <div id = "other-buttons">
                    <button id = "update">Get Updated Game</button>
                    <button id = "offset">Toggle Offset</button>
                </div> -->
            </div>

            
            
<!--             <pre id="game-json"></pre> -->

<!--         <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src = "../../gameScript.js"></script>
    </BODY>
</HTML>
