<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Shootout</title>

        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="description" content="This will be a description">

        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <link rel = "stylesheet" type = "text/css" href ="stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="assets/icon.png">
    </HEAD>

    <BODY>
            
            <canvas id = "canvas" width = "400" height="300"></canvas>

            <div class = "panel" id = "resources">
                <span class = "one-resource"><i class="fas fa-plus"></i> <span id = "health-count">0</span></span>
                <span class = "one-resource"><i class="fas fa-fire"></i> <span id = "bullet-count">0</span></span>
                <span class = "one-resource"><i class="fas fa-dollar-sign"></i> <span id = "money-count">0</span></span>
                <span class = "one-resource"><i class="fas fa-fire"></i> 5</span>
            </div>

            <div class = "panel" id = "shop">
                <div class = "one-item">
                    <button id = "buy-bullets"><i class="fas fa-fire"></i> 50</button>
                    <span class = "item-price">$100</span>
                </div>
            </div>

            <div id = "other-buttons">
                <button id = "update">Get Updated Game</button>
                <button id = "reset">Reset Game</button>
            </div>

<!--         <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src = "script.js"></script>
    </BODY>
</HTML>
