
canvas {
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    cursor: crosshair;
}

.panel {
    width: 400px;
    margin: 0px auto 10px auto;
    border: 1px solid gray;
    background: #ccc;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.one-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-price {
    padding-top: 5px;
    font-size: 1em;
    font-weight: bold;
}