
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

canvas {
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    cursor: crosshair;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

button:focus {
    outline:0;
}

button:disabled {
    background: #929292;
    color: #393939;
}

pre {
    text-align: left;
}

/* game */

#game {
    user-select: none;          /* users can't select text*/
}


/* homepage */
#homepage {
    text-align: center;
    padding: 10vh 10vw;
}

#homepage a {
    text-decoration: none;
}

.game-button {
    font-size: 2.5rem;
    border: none;
    background: #d6d6d6;
    width: 50vw;
    padding: 0.5rem 0;
    border-radius: 5px;
    margin: 10px;
}


#homepage .game-button:hover{
    background: #606161;
    color: white;
}

#new-game {
    background: orange;w
}

.game-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    line-height: 1;
}

.game-button-container:hover p {
    color: white;
}

.game-info-name {
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
}

.game-info-players {
    display: flex;
    flex-direction: row;
}
.game-info-players p {
    line-height: 0.7;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0;
    color: #5f5d5d;
    font-weight: 700;
}

.player-circle {
    display: inline-block;
    border-radius: 100%;
    height: 3vh;
    width: 3vh;
    border: 1px solid black;
    margin: 0 5px;
}

.filled{
    background: black;
}


/* game */

.panel {
    width: 400px;
    margin: 0px auto 10px auto;
    background: #a2a2a2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.panel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.one-resource {
    width: 20%;
    text-align: center;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-resource {
    background: #b3dab5;
    color: #065f06;
}

.recently-bought {
    background: #fde7bc;
    color: #e89128;
}

.one-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.item-price {
    padding-top: 5px;
    font-size: 1em;
    font-weight: bold;
}


.use-button {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    border: none;
    background: #ffe7bc;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid black;
    position: relative;
}

.use-button:hover:not([disabled]) {
    background: #ffa637;
}

.use-button:active:not([disabled]) {
    background: #172256;
    color: white;
}

.powerup-key {
    position: absolute;
    top: 0;
    left: 0rem;
    font-size: 1rem;
    background: #4c4c4c;
    padding: 0 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.buy-button {
    background: #C8E9EB;
    box-shadow: 0 0 5px #5a5a5a;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid black;
    position: relative;
}

.buy-button:hover:not([disabled]) {
    background: #58CBEC;
}

.use-button:active:not([disabled]) {
    background: #562120;
    color: white;
}

.panel-title {
    font-family: 'Podkova', serif;
    text-transform: uppercase;
    color: #dedddd;
    text-shadow: 0 0 3px rgba(10, 10, 10, 0.87);
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 5px;
}

#powerup-timer{
    height: 2vh;
    background: #505050;
    border: 1px solid black;
    margin: auto; 
}

#invisibility-time-left{
    display: block;
    height: 50%;
    width: 0%;
    background: #8ee0ff;
}

#stun-time-left{
    display: block;
    height: 50%;
    width: 0%;
    background: #76c767;
}

/* ready modal */

#ready-modal{
    padding: 20px;
    border: 4px solid #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px #696666;

    display: none;
}


/* play again modal */

#play-again-wrapper {
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 5vw;
    background: #848484;
}

#play-again-wrapper button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 5px;
    background: #ffe7bc;
    color: #a70f0f;
    border: none;
    padding: 5px 20px;
}

#play-again-wrapper a:hover button {
    background: #ffa637;
}
